.overWeightDetails{
	padding-top: 84px;
}

.orderDetails .weui-form-preview__hd .weui-form-preview__label{
	font-family: PingFangSC-Regular;
	font-size: 17px;
	color: #000;
	line-height: 44px;
}
.orderDetails .weui-form-preview__hd .weui-form-preview__value{
	font-family: PingFangSC-Regular;
	font-size: 23px;
	color: #2D3034;
	line-height: 44px;
}
.orderDetails .weui-form-preview__bd{
	padding: 15px;
}
.weui-form-preview__bd .weui-form-preview__item{
	padding-bottom: 5px;
}
.weui-form-preview__bd .weui-form-preview__item .weui-form-preview__label{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #000000;
	line-height: 22px;
}
.weui-form-preview__bd .weui-form-preview__item .weui-form-preview__value{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #9B9B9B;
	line-height: 22px;
}